* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html {
    background-size: 62.5%;
}
body {
    font-size: 2rem;
}
.head-page {
    background-color: aquamarine;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
   
}
.nav-list {
    display: inline-block;
    background-color: teal;
    border-radius: 0.5rem;
    
}
.nav-list__item {
    display: inline-block;
    color: yellow;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}
.nav-list__item1 {
    display: inline-block;
    color: yellow;
   margin-right: 0.7rem;
}
.nav-list__item2 {
    display: inline-block;
    color: yellow;
    margin-right: 0.7rem;
}
.parent {
    display: inline-block;
}
.box-1 {
    display: inline-block;
    background-color: aqua;
    width: 300px;
    height: 70px;
    border-radius: 0.5rem;
    position: absolute;
    margin-left: 30rem;
    margin-top: 4rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
}
.box {
    display: inline-block;
    background-color:grey;
    width: 800px;
    height: 300px;
    border-radius: 0.5rem;
    position: static;
    margin-left: 14rem;
    margin-top: 6rem;
    text-align: justify;
    padding: 2.7rem;
    color: seagreen;
    font-size: 1.5rem;
}
