* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html {
    background-size: 62.5%;
}
body {
    font-size: 2rem;
}
.head-page {
    background-color: aquamarine;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.nav-list {
    display: inline-block;
    background-color: teal;
    border-radius: 0.5rem;
}
.nav-list__item {
    display: inline-block;
    text-align: left;
    color: yellow;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    
}
.nav-list__item1 {
    display: inline-block;
    text-align: center;
    color: yellow;
   margin-right: 0.7rem;
 
}
.nav-list__item2 {
    display: inline-block;
    text-align: right;
    color: yellow;
    margin-right: 0.7rem;
    
    
}